<form>
  <h2>ЗАХТЕВ ЗА ПРИЗНАЊЕ ПАТЕНТА</h2>
  <label>Потпис:</label>
  <input
    type="text"
    name="potpis"
    [(ngModel)]="patentRequest.potpis"
    required
  />

  <h3>Поље број I - НАЗИВ ПРОНАЛАСКА (54)</h3>
  <p>
    * Назив проналаска треба да јасно и сажето изражава суштину проналаска и не
    сме да садржи измишљене или комерцијалне називе, жигове, имена, шифре,
    уобичајене скраћенице за производе и сл.
  </p>
  <div>
    <label>На српском језику:</label>
    <input
      type="text"
      name="nazivPronalaskaSrpski"
      [(ngModel)]="patentRequest.nazivPronalaska.srpskiNaziv"
      required
    />
  </div>
  <div>
    <label>На енглеском језику:</label>
    <input
      type="text"
      name="nazivPronalaskaEngleski"
      [(ngModel)]="patentRequest.nazivPronalaska.engleskiNaziv"
      required
    />
  </div>

  <h3>Поље број II - ПОДНОСИЛАЦ ПРИЈАВЕ (71)</h3>
  <div>
    <label>
      <input
        type="checkbox"
        name="podnosilacPronalazac"
        [(ngModel)]="podnosilacPronalazac"
        (click)="togglePronalazac()"
      />
      Подносилац пријаве је и проналазач
    </label>
  </div>
  <div>
    <label>Назив:</label>
    <input
      type="text"
      name="imePrezimePoslovnoIme"
      [(ngModel)]="patentRequest.podnosilacPrijave.naziv"
      required
    />
  </div>
  <div>
    <label>Име:</label>
    <input
      type="text"
      name="ime"
      [(ngModel)]="patentRequest.podnosilacPrijave.ime"
      required
    />
    <label>Презиме:</label>
    <input
      type="text"
      name="prezime"
      [(ngModel)]="patentRequest.podnosilacPrijave.prezime"
      required
    />
  </div>
  <div>
    <label>Улица и број, поштански број, место и држава:</label>
    <input
      type="text"
      name="adresa"
      [(ngModel)]="patentRequest.podnosilacPrijave.adresa.ulica"
      required
    />
    <input
      type="text"
      name="broj"
      [(ngModel)]="patentRequest.podnosilacPrijave.adresa.broj"
      required
    />
    <input
      type="text"
      name="postanskiBroj"
      [(ngModel)]="patentRequest.podnosilacPrijave.adresa.postanskiBroj"
      required
    />
    <input
      type="text"
      name="mesto"
      [(ngModel)]="patentRequest.podnosilacPrijave.adresa.mesto"
      required
    />
    <input
      type="text"
      name="drzava"
      [(ngModel)]="patentRequest.podnosilacPrijave.adresa.drzava"
      required
    />
  </div>
  <div>
    <label>Број телефона:</label>
    <input
      type="text"
      name="brojTelefona"
      [(ngModel)]="patentRequest.podnosilacPrijave.kontakt.brojTelefona"
      required
    />
  </div>
  <div>
    <label>Број факса:</label>
    <input
      type="text"
      name="brojFaksa"
      [(ngModel)]="patentRequest.podnosilacPrijave.kontakt.brojFaksa"
    />
  </div>
  <div>
    <label>Е-пошта:</label>
    <input
      type="email"
      name="email"
      [(ngModel)]="patentRequest.podnosilacPrijave.kontakt.ePosta"
      required
    />
  </div>
  <div>
    <label>Држављанство:</label>
    <input
      type="text"
      name="drzavljanstvo"
      [(ngModel)]="patentRequest.podnosilacPrijave.adresa.drzava"
    />
    <span>(попунити само за физичка лица)</span>
  </div>
  <div>
    <label>
      ☐ Остали подносиоци пријаве су наведени у додатном листу 1 у наставку овог
      захтева
      <input type="checkbox" name="ostaliPodnosioci" />
    </label>
  </div>
  <p>
    * Ако више лица подноси пријаву, потребно је одредити једно од тих лица као
    заједничког представника и доставити изјаву о заједничком представнику
    потписaну од стране свих подносилаца или именовати заједничког пуномоћника
    за заступање и доставити пуномоћје
  </p>

  <h3>Поље број III - ПРОНАЛАЗАЧ (72)</h3>
  <p>
    (ако су сви проналазачи уједно и подносиоци пријаве, поље број III се не
    попуњава)
  </p>
  <p>
    * Ако сви подносиоци пријаве нису и проналазачи, доставља се изјава
    подносилаца пријаве о основу стицања права на подношење пријаве у односу на
    проналазаче који нису и подносиоци пријаве и у том случају у поље број III
    се уносе подаци о свим проналазачим
  </p>
  <div>
    <label>
      ☐ Проналазач не жели да буде наведен у пријави
      <input type="checkbox" name="nezeljenPronalazac" />
    </label>
    <p>
      (ако проналазач не жели да буде наведен у пријави поље број III се не
      попуњава)
    </p>
  </div>
  <p>
    * Ако проналазач не жели да буде наведен у пријави, потребно је доставити
    потписану изјаву проналазача да не жели да буде наведен.
  </p>
  <div>
    <label>Назив:</label>
    <input
      type="text"
      name="imePrezimePoslovnoIme"
      [(ngModel)]="patentRequest.pronalazac.naziv"
      required
    />
  </div>
  <div>
    <label>Име:</label>
    <input
      type="text"
      name="ime"
      [(ngModel)]="patentRequest.pronalazac.ime"
      required
    />
    <label>Презиме:</label>
    <input
      type="text"
      name="prezime"
      [(ngModel)]="patentRequest.pronalazac.prezime"
      required
    />
  </div>
  <div>
    <label>Улица и број, поштански број, место и држава:</label>
    <input
      type="text"
      name="adresa"
      [(ngModel)]="patentRequest.pronalazac.adresa.ulica"
      required
    />
    <input
      type="text"
      name="broj"
      [(ngModel)]="patentRequest.pronalazac.adresa.broj"
      required
    />
    <input
      type="text"
      name="postanskiBroj"
      [(ngModel)]="patentRequest.pronalazac.adresa.postanskiBroj"
      required
    />
    <input
      type="text"
      name="mesto"
      [(ngModel)]="patentRequest.pronalazac.adresa.mesto"
      required
    />
    <input
      type="text"
      name="drzava"
      [(ngModel)]="patentRequest.pronalazac.adresa.drzava"
      required
    />
  </div>
  <div>
    <label>Број телефона:</label>
    <input
      type="text"
      name="brojTelefona"
      [(ngModel)]="patentRequest.pronalazac.kontakt.brojTelefona"
      required
    />
  </div>
  <div>
    <label>Број факса:</label>
    <input
      type="text"
      name="brojFaksa"
      [(ngModel)]="patentRequest.pronalazac.kontakt.brojFaksa"
    />
  </div>
  <div>
    <label>Е-пошта:</label>
    <input
      type="email"
      name="email"
      [(ngModel)]="patentRequest.pronalazac.kontakt.ePosta"
      required
    />
  </div>

  <div>
    <label>
      Остали проналазачи су наведени у додатном листу 1 у наставку овог захтева
      <input type="checkbox" name="ostaliPronalazaci" />
    </label>
  </div>

  <h3>Поље број IV</h3>
  <div>
    <label>
      ☐ ПУНОМОЋНИК ЗА ЗАСТУПАЊЕ
      <input
        type="checkbox"
        name="punomocnikZaZastupanje"
        [(ngModel)]="punomocnikZaZastupanje"
      />
    </label>
  </div>
  <div>
    <label>
      ☐ ПУНОМОЋНИК ЗА ПРИЈЕМ ПИСМЕНА
      <input
        type="checkbox"
        name="punomocnikZaPrijem"
        [(ngModel)]="punomocnikZaPrijem"
      />
    </label>
  </div>
  <div>
    <label>
      ☐ ЗАЈЕДНИЧКИ ПРЕДСТАВНИК
      <input
        type="checkbox"
        name="zajednickiPredstavnik"
        [(ngModel)]="zajednickiPredstavnik"
      />
    </label>
  </div>
  <p>
    * Пуномоћник за заступање је лице које по овлашћењу подносиоца пријаве
    предузима радње у управном поступку у границама пуномоћја
  </p>
  <p>
    * Пуномоћник за пријем писмена је лице које је подносилац пријаве одредио
    као лице коме се упућују сва писмена насловљена на подносиоца
  </p>
  <p>
    * Заједничи преставник је подносилац пријаве кога су подносиоци пријаве, у
    случају да пријаву подноси више лица, одредили да иступа у поступку пред
    органом ако подносиоци нису именовали заједничког пуномоћника за заступање
  </p>
  <div>
    <label>Назив:</label>
    <input
      type="text"
      name="imePrezimePoslovnoIme"
      [(ngModel)]="patentRequest.punomocnik.naziv"
      required
    />
  </div>
  <div>
    <label>Име:</label>
    <input
      type="text"
      name="ime"
      [(ngModel)]="patentRequest.punomocnik.ime"
      required
    />
    <label>Презиме:</label>
    <input
      type="text"
      name="prezime"
      [(ngModel)]="patentRequest.punomocnik.prezime"
      required
    />
  </div>
  <div>
    <label>Улица и број, поштански број, место и држава:</label>
    <input
      type="text"
      name="adresa"
      [(ngModel)]="patentRequest.punomocnik.adresa.ulica"
      required
    />
    <input
      type="text"
      name="broj"
      [(ngModel)]="patentRequest.punomocnik.adresa.broj"
      required
    />
    <input
      type="text"
      name="postanskiBroj"
      [(ngModel)]="patentRequest.punomocnik.adresa.postanskiBroj"
      required
    />
    <input
      type="text"
      name="mesto"
      [(ngModel)]="patentRequest.punomocnik.adresa.mesto"
      required
    />
    <input
      type="text"
      name="drzava"
      [(ngModel)]="patentRequest.punomocnik.adresa.drzava"
      required
    />
  </div>
  <div>
    <label>Број телефона:</label>
    <input
      type="text"
      name="brojTelefona"
      required
      [(ngModel)]="patentRequest.punomocnik.kontakt.brojTelefona"
    />
  </div>
  <div>
    <label>Е-пошта:</label>
    <input
      type="email"
      name="email"
      required
      [(ngModel)]="patentRequest.punomocnik.kontakt.ePosta"
    />
  </div>

  <h3>Поље број V</h3>
  <p>
    (ово поље се попуњава ако подносилац пријаве, заједнички представник или
    пуномоћник жели да се достављање поднесака врши на другој адреси од његове
    наведене адресе)
  </p>
  <div>
    <div>
      <label>Улица и број, поштански број, место и држава:</label>
      <input
        type="text"
        name="adresa"
        [(ngModel)]="patentRequest.adresaZaDostavljanje.ulica"
        required
      />
      <input
        type="text"
        name="broj"
        [(ngModel)]="patentRequest.adresaZaDostavljanje.broj"
        required
      />
      <input
        type="text"
        name="postanskiBroj"
        [(ngModel)]="patentRequest.adresaZaDostavljanje.postanskiBroj"
        required
      />
      <input
        type="text"
        name="mesto"
        [(ngModel)]="patentRequest.adresaZaDostavljanje.mesto"
        required
      />
    </div>
  </div>

  <h3>Поље број VI</h3>
  <p>НАЧИН ДОСТАВЉАЊА</p>
  <div>
    <input
      type="checkbox"
      id="elektronski"
      name="nacinDostavljanja"
      [(ngModel)]="patentRequest.nacinDostavljanja.elektronsko"
    />
    <label for="elektronski"
      >Подносилац пријаве је сагласан да Завод врши достављање писмена искључиво
      електронским путем у форми електронског документа (у овом случају
      неопходна је регистрација на порталу „еУправе”)</label
    >
  </div>
  <div>
    <input
      type="checkbox"
      id="papirno"
      name="nacinDostavljanja"
      [(ngModel)]="patentRequest.nacinDostavljanja.papirno"
    />
    <label for="papirno"
      >Подносилац пријаве је сагласан да Завод врши достављање писмена у
      папирној форми</label
    >
  </div>

  <h3>Поље број VII</h3>
  <div>
    <label for="tipPrijave">Тип пријаве:</label>
    <select
      name="tipPrijave"
      id="tipPrijave"
      [(ngModel)]="patentRequest.tipPrijave"
    >
      <option value="dopunska">ДОПУНСКА ПРИЈАВА</option>
      <option value="izdvojena">ИЗДВОЈЕНА ПРИЈАВА</option>
    </select>
  </div>
  <label for="brojPrijave"
    >Број првобитне пријаве / основне пријаве, односно основног патента:</label
  >
  <input
    type="text"
    id="brojPrijave"
    name="brojPrijave"
    [(ngModel)]="patentRequest.prvobitnaPrijava.brojPrijave"
  />
  <label for="datumPrijave"
    >Датум подношења првобитнe пријаве / основне пријаве:</label
  >
  <input
    type="date"
    id="datumPrijave"
    name="datumPrijave"
    [(ngModel)]="patentRequest.prvobitnaPrijava.datumPodnosenja"
  />

  <h3>Поље број VIII</h3>
  <table>
    <thead>
      <th>Број раније пријаве</th>
      <th>Датум подношења раније пријаве</th>
      <th>Број раније пријаве</th>
      <th>Двословна ознака државе, регионалне или међународне организације</th>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let item of patentRequest.prethodnePrijave.detaljiPrijaveOznaka;
          let i = index
        "
      >
        <td>{{ i + 1 }}.</td>
        <td>
          <input
            type="date"
            id="datumPrijave1"
            [name]="'datumPrijave' + i"
            [(ngModel)]="item.datumPodnosenja"
          />
        </td>
        <td>
          <input
            type="text"
            id="brojPrijave1"
            [name]="'brojPrijave' + i"
            [(ngModel)]="item.brojPrijave"
          />
        </td>
        <td>
          <input
            type="text"
            id="oznakaDrzave1"
            [name]="'oznakaDrzave' + i"
            [(ngModel)]="item.dvoslovnaOznaka"
          />
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <button (click)="dodajPrethodnuPrijavu()">Додај</button>
    <button (click)="izbaciPrethodnuPrijavu()">Уклони</button>
  </div>

  <input type="checkbox" id="ostalaPrava" name="ostalaPrava" />
  <label for="ostalaPrava">
    Подаци о осталим правима првенства су наведени у додатном листу 2 у наставку
    овог захтева</label
  >
  <div>
    <button type="submit" (click)="submitRequest()">Поднеси захтев</button>
  </div>
</form>
