<table mat-table [dataSource]="tableData" class="mat-elevation-z8">
  <!-- Define table columns -->
  <ng-container matColumnDef="ime">
    <th mat-header-cell *matHeaderCellDef> Ime / Naziv </th>
    <td mat-cell *matCellDef="let element"> {{ element.podnosilacPrijave.ime }} </td>
  </ng-container>

  <ng-container matColumnDef="prezime">
    <th mat-header-cell *matHeaderCellDef> Prezime </th>
    <td mat-cell *matCellDef="let element"> {{ element.podnosilacPrijave.prezime  }} </td>
  </ng-container>

  <ng-container matColumnDef="naziv_dela">
    <th mat-header-cell *matHeaderCellDef> Naziv dela </th>
    <td mat-cell *matCellDef="let element"> {{ element.podaciONaslovu.naslov }} </td>
  </ng-container>

  <ng-container matColumnDef="vrsta_dela">
    <th mat-header-cell *matHeaderCellDef> Vrsta dela </th>
    <td mat-cell *matCellDef="let element"> {{ element.vrstaDela }} </td>
  </ng-container>

  <ng-container matColumnDef="detalji">
    <th mat-header-cell *matHeaderCellDef> Detalji </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" (click)="viewDetails(element.sifraZahteva)">DETALJI</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="prihvati">
    <th mat-header-cell *matHeaderCellDef> Prihvati </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" (click)="Accept(element.sifraZahteva)">PRIHVATI</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="odbi">
    <th mat-header-cell *matHeaderCellDef> Odbi </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" (click)="Decline(element.sifraZahteva)">ODBI</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="preuzmi">
    <th mat-header-cell *matHeaderCellDef> Preuzmi </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" (click)="viewDetails(element.sifraZahteva)">PREUZMI</button>
    </td>
  </ng-container>

  <!-- Define table headers -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <!-- Define table rows -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
