.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
  }
  
  .form-title {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px
  }

  input {
    border: 1px solid #000; /* 1px solid black border */
    padding: 5px; /* Add padding for better appearance */
  }
  
  /* Define hover and focus styles for input elements */
  input:hover,
  input:focus {
    border: 1px solid #000; /* 1px solid blue border on hover and focus */
    /* You can customize the color and style of the border to your preference */
  }

  /* Style the container for the checkbox and label */

/* Style the checkbox */
