
<div>

    <form  class="form-container">
      <div>
      <h2 class="form-title">Podaci Podnosioca prijave</h2>
      <select class="form-select"  aria-label="Vrsta podnosioca"  name = "podnosilac" [(ngModel)]="podnosilacLice">
        <option value="Fizicko lice" selected>Fizicko lice</option>
        <option value="Pravno lice">Pravno lice</option>
      </select>

      <div class="form-check form-group my-2 col-4" style="margin-left: 20px">
        <input class="form-check-input"  type="checkbox"  [checked]="podnosiPunomocnik" id="podnosiPunomopcnik" (change)="podnosiPunomocnik = !podnosiPunomocnik" [(ngModel)]="podnosiPunomocnik">
        <label class="form-check-label" for="podnosiPunomopcnik">
          Prijavu podnosi punomocnik
        </label>
      </div>

      <div class="form-check form-group my-2 col-4" style="margin-left: 20px">
        <input class="form-check-input"  type="checkbox"  [checked]="podnosiAutor" id="podnosiAutor" (change)="podnosiAutor = !podnosiAutor" [(ngModel)]="podnosiAutor">
        <label class="form-check-label" for="podnosiPunomopcnik">
          Prijavu podnosi autor
        </label>
      </div>

      <div class="row pb-2" *ngIf="podnosilacLice === 'Fizicko lice'">
        <div class="form-group col-3">
          <label for="ime_podnosioca">Ime:</label>
          <input type="text" class="form-control" name="ime_podnosioca" [(ngModel)]="prijava.podnosilacPrijave.ime">
        </div>
        <div class="form-group col-3">
          <label for="prezime_podnosioca">Prezime:</label>
          <input type="text" class="form-control" name="prezime_podnosioca" [(ngModel)]="prijava.podnosilacPrijave.prezime">
        </div>
        <div class="form-group col-3">
            <label for="prezime_podnosioca">Drzavljanstvo:</label>
            <input type="text" class="form-control" name="Drzavljanstvo" [(ngModel)]="prijava.podnosilacPrijave.prezime">
          </div>
      </div>

      <div class="row pb-2" *ngIf="podnosilacLice === 'Pravno lice'">
        <div class="form-group col-4">
          <label for="poslovno_ime_podnosioca">Poslovno ime:</label>
          <input type="text" class="form-control" name="poslovno_ime_podnosioca" [(ngModel)]="prijava.podnosilacPrijave.naziv">
        </div>
      </div>

      <h4 class="form-title">Adresa</h4>
      <div class="form-group">
        <label for="ulicaIBroj">Ulica</label>
        <input id="ulicaIBroj"  name="ulica" type="text" class="form-control"  [(ngModel)]="prijava.podnosilacPrijave.adresa.ulica" required>
      </div>
      <div class="form-group">
        <label for="ulicaIBroj">Broj</label>
        <input id="ulicaIBroj"  name="Broj" type="number" class="form-control"  [(ngModel)]="prijava.podnosilacPrijave.adresa.broj" required>
      </div>
      <div class="form-group">
        <label for="postanskiBroj">Poštanski broj</label>
        <input id="postanskiBroj"   name="postanskiBroj" type="text" class="form-control"  [(ngModel)]="prijava.podnosilacPrijave.adresa.postanskiBroj" required>
      </div>
      <div class="form-group">
        <label for="mesto">Mesto</label>
        <input id="mesto"  name="mesto" type="text" class="form-control" [(ngModel)]="prijava.podnosilacPrijave.adresa.mesto" required>
      </div>
      <div class="form-group">
        <label for="drzava">Država prebivališta/sedišta</label>
        <input id="drzava"   name="drzava" type="text" class="form-control" [(ngModel)]="prijava.podnosilacPrijave.adresa.drzava" required>
      </div>
      <div class="form-group">
        <label for="mobilni">Mobilni</label>
        <input id="mobilni"   name="mobilni" type="text" class="form-control" [(ngModel)]="prijava.podnosilacPrijave.kontakt.brojTelefona" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email"  name="email" type="email" class="form-control" [(ngModel)]="prijava.podnosilacPrijave.kontakt.ePosta" required>
      </div>
      <div class="form-group">
        <label for="pseu">Pseudonim ili znak autora (ako ga ima ) </label>
        <input id="pseu"   name="pseu" type="text" class="form-control" [(ngModel)]="prijava.pseudonim" required>
      </div>
      </div>
      <div>

        <div class="row">
         
        <form  class="form-container">
            <div>
              <div class="row pb-2" *ngIf="podnosiPunomocnik">
            <h2 class="form-title">Podaci punomocnika</h2>
           
            <div class="row pb-2" >
              <div class="form-group col-3">
                <label for="ime_podnosioca">Ime:</label>
                <input type="text" class="form-control" name="ime_podnosioca" [(ngModel)]="prijava.punomocnik.ime">
              </div>
              <div class="form-group col-3">
                <label for="prezime_podnosioca">Prezime:</label>
                <input type="text" class="form-control" name="prezime_podnosioca" [(ngModel)]="prijava.punomocnik.prezime">
              </div>
            </div>
      
            
      
            <h4 class="form-title">Adresa</h4>
            <div class="form-group">
              <label for="ulicaIBroj">Ulica</label>
              <input id="ulicaIBroj"  name="ulica" type="text" class="form-control"  [(ngModel)]="prijava.punomocnik.adresa.ulica" required>
            </div>
            <div class="form-group">
              <label for="ulicaIBroj">Broj</label>
              <input id="ulicaIBroj"  name="Broj" type="number" class="form-control"  [(ngModel)]="prijava.punomocnik.adresa.broj" required>
            </div>
            <div class="form-group">
              <label for="postanskiBroj">Poštanski broj</label>
              <input id="postanskiBroj"   name="postanskiBroj" type="text" class="form-control"  [(ngModel)]="prijava.punomocnik.adresa.postanskiBroj" required>
            </div>
            <div class="form-group">
              <label for="mesto">Mesto</label>
              <input id="mesto"  name="mesto" type="text" class="form-control" [(ngModel)]="prijava.punomocnik.adresa.mesto" required>
            </div>
            <div class="form-group">
              <label for="drzava">Država prebivališta/sedišta</label>
              <input id="drzava"   name="drzava" type="text" class="form-control" [(ngModel)]="prijava.punomocnik.adresa.drzava" required>
            </div>
              </div>
      <div>
    <div class="form-group">
      <div class="form-group">
        <h2>
          Podaci o autorskom delu
        </h2>

        <div class="form-check form-group my-2 col-4" style="margin-left: 20px">
          <input class="form-check-input"  type="checkbox"  [checked]="prerada" id="prerada" (change)="prerada = !prerada" [(ngModel)]="prerada">
          <label class="form-check-label" for="podnosiPunomopcnik">
            Delo je prerada nekog drugog dela
          </label>
        </div>

        <div class="form-group">
          <label for="drzava">Naslov</label>
          <input id="drzava"   name="naslov" type="text" class="form-control" [(ngModel)]="prijava.podaciONaslovu.naslov" required>
        </div>

        <div class="form-group">
          <label for="drzava">Alternativni naslov(ako ga ima)</label>
          <input id="drzava"   name="altnaslov" type="text" class="form-control" [(ngModel)]="prijava.podaciONaslovu.alternativniNaslov" required>
        </div>

        <div class="row pb-2" *ngIf="prerada">
          <h2 class="form-title">Podaci o delu koje je preradjeno</h2>
         
          <div class="row pb-2" >
            <div class="form-group col-3">
              <label for="ime_podnosioca">Naslov:</label>
              <input type="text" class="form-control" name="ime_podnosioca" [(ngModel)]="prijava.podaciOPreradi.naslov">
            </div>
            <div class="form-group col-3">
              <label for="prezime_podnosioca">Prezime:</label>
              <input type="text" class="form-control" name="prezime_podnosioca" [(ngModel)]="prijava.punomocnik.prezime">
            </div>
          </div>
    
          
    
          <h4 class="form-title">Adresa</h4>
          <div class="form-group">
            <label for="ulicaIBroj">Ulica</label>
            <input id="ulicaIBroj"  name="ulica" type="text" class="form-control"  [(ngModel)]="prijava.punomocnik.adresa.ulica" required>
          </div>
          <div class="form-group">
            <label for="ulicaIBroj">Broj</label>
            <input id="ulicaIBroj"  name="Broj" type="number" class="form-control"  [(ngModel)]="prijava.punomocnik.adresa.broj" required>
          </div>
          <div class="form-group">
            <label for="postanskiBroj">Poštanski broj</label>
            <input id="postanskiBroj"   name="postanskiBroj" type="text" class="form-control"  [(ngModel)]="prijava.punomocnik.adresa.postanskiBroj" required>
          </div>
          <div class="form-group">
            <label for="mesto">Mesto</label>
            <input id="mesto"  name="mesto" type="text" class="form-control" [(ngModel)]="prijava.punomocnik.adresa.mesto" required>
          </div>
          <div class="form-group">
            <label for="drzava">Država prebivališta/sedišta</label>
            <input id="drzava"   name="drzava" type="text" class="form-control" [(ngModel)]="prijava.punomocnik.adresa.drzava" required>
          </div>
            </div>


        <div>
          <div class="form-group">
            <div>
              Vrsta dela
            </div>
          <select class="form-select" #vrstaDela aria-label="vrsta dela"  name ="tipZiga" [(ngModel)]="prijava.vrstaDela"  >
            <option value="KNJIZEVNO_DELO" selected>Knjizevno delo</option>
            <option value="MUZICKO_DELO">Muzicko delo</option>
            <option value="LIKOVNO_DELO">Likovno delo</option>
            <option value="RACUNARSKI_PROGRAM">Racunarskio program</option>
            <option value="OSTALO">Ostalo</option>
          </select>

          <div class="form-group" *ngIf="vrstaDela.value == 'OSTALO'">
            <div>Navesti vrstu</div>
            <input class="form-control" name="vrsta" type="text" [(ngModel)]="ostalo">
          </div>
        </div>
      </div>
      </div>

      <div>
        <div class="form-group">
          <div>
          Forma Zapisa
          </div>
        <select class="form-select" #vrstaDela aria-label="vrsta dela"  name ="tipZiga" [(ngModel)]="prijava.vrstaDela"  >
          <option value="STAMPANI_TEKST" selected>Stampani tekst</option>
          <option value="OPTICKI_DISK">Opticki disk</option>
          <option value="OSTALO">Ostalo</option>

        </select>

        <div class="form-group" *ngIf="vrstaDela.value == 'OSTALO'">
          <div>Navesti Formu</div>
          <input class="form-control" name="tipZnaka" type="text" [(ngModel)]="ostalo">
        </div>
        <div class="form-group">
          <label for="namena"> Namena Dela</label>
          <input id="namena"   name="namena" type="text" class="form-control" [(ngModel)]="prijava.namenaDela" required>
        </div>
  
        <div class="form-check form-group my-2 col-4" style="margin-left: 20px">
          <input class="form-check-input"  type="checkbox"  [checked]="prijava.radnomOdnosu" id="prerada" (change)="prijava.radnomOdnosu = !prijava.radnomOdnosu" [(ngModel)]="prijava.radnomOdnosu">
          <label class="form-check-label" for="podnosiPunomopcnik">
            Delo je stvoreno u radnom odnosu
          </label>
        </div>

        <div class="form-group">
          <label for="namena">Potpis</label>
          <input id="namena"   name="namena" type="text" class="form-control" [(ngModel)]="prijava.potpis" required>
        </div>
      </div>

    </div>
    </div>
      <button type="submit" (click)="sendRequest()">Podnesi prijavu</button>
    </div>  
      </div>
    </form>
    </div>

