
<div>

    <form  class="form-container">
      <div>
      <h2 class="form-title">Podnosilac prijave</h2>
      <div class="form-group">
        <label for="ime">Ime i prezime/poslovno ime</label>
        <input id="ime"   name="ime" type="text" class="form-control" required>
      </div>
     
      <div class="form-group">
        <label for="ulicaIBroj">Ulica i broj</label>
        <input id="ulicaIBroj"  name="ulicaIBroj" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="postanskiBroj">Poštanski broj</label>
        <input id="postanskiBroj"   name="postanskiBroj" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="mesto">Mesto</label>
        <input id="mesto"  name="mesto" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="drzava">Država prebivališta/sedišta</label>
        <input id="drzava"   name="drzava" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="mobilni">Mobilni</label>
        <input id="mobilni"   name="mobilni" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email"  name="email" type="email" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="faks">Faks</label>
        <input id="faks"   name="faks" type="text" class="form-control" required>
      </div>
      </div>
      <div>
      <h2 class="form-title"> Punomocnik
      </h2>
      <div class="form-group">
        <label for="ime">Ime</label>
        <input id="ime"   name="ime" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="prezime">Prezime/poslovno ime</label>
        <input id="prezime"   name="prezime" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="ulicaIBroj">Ulica i broj</label>
        <input id="ulicaIBroj"  name="ulicaIBroj" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="postanskiBroj">Poštanski broj</label>
        <input id="postanskiBroj"   name="postanskiBroj" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="mesto">Mesto</label>
        <input id="mesto"  name="mesto" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="drzava">Država prebivališta/sedišta</label>
        <input id="drzava"   name="drzava" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="mobilni">Mobilni</label>
        <input id="mobilni"   name="mobilni" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email"  name="email" type="email" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="faks">Faks</label>
        <input id="faks"   name="faks" type="text" class="form-control" required>
      </div>
    
    <div>
      <h2 class="form-title"> Podaci o zajednickom predstavniku ako postoji vise podnosilaca prijave
      </h2>
      <div class="form-group">
        <label for="ime">Ime</label>
        <input id="ime"   name="ime" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="prezime">Prezime/poslovno ime</label>
        <input id="prezime"   name="prezime" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="ulicaIBroj">Ulica i broj</label>
        <input id="ulicaIBroj"  name="ulicaIBroj" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="postanskiBroj">Poštanski broj</label>
        <input id="postanskiBroj"   name="postanskiBroj" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="mesto">Mesto</label>
        <input id="mesto"  name="mesto" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="drzava">Država prebivališta/sedišta</label>
        <input id="drzava"   name="drzava" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="mobilni">Mobilni</label>
        <input id="mobilni"   name="mobilni" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email"  name="email" type="email" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="faks">Faks</label>
        <input id="faks"   name="faks" type="text" class="form-control" required>
      </div>
      <button type="submit">Podnesi prijavu</button>
    </div>  
      </div>
    </form>
    </div>